#root {
	width: 100%;
	height: 100%;
}

.modal.transition-exit, .modal.transition-enter {
	transform: translateY(100%);
}

.modal, .screen {
	background: white;
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transition: 350ms;
	-moz-transition: 350ms;
	-ms-transition: 350ms;
	-o-transition: 350ms;
	transition: 350ms;
}

.screen.transition-enter, .screen.transition-exit {
	transform: translateX(100%);
}